<div class="modal fade" id="aboutMeModal" tabindex="-1" aria-labelledby="aboutMeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutMeModalLabel">About Me</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>I was born in Kyoto, grown up in Delhi. I went to Sam International School (Delhi) for nursery, Maxfort School Dwarka (Delhi) for 10 years, DAV Public School (Gaya) for 2 years and Kansai University Faculty of Informatics (Japan) till now.</p>
        Find out more <a href="https://hikaru-inoue-portfolio.jimdosite.com/about-me/" target=”_blank”>About Me</a>!
        <br>
        <img class="img-fluid" src="../../assets/about-me/computer.webp">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="educationWorkModal" tabindex="-1" aria-labelledby="educationWorkModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="educationWorkModalLabel">Education and Work</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h2>Skills</h2>
        <ul>
          <li>C/C++</li>
          <li>Java</li>
          <li>Javascript</li>
          <li>Mysql</li>
          <li>PHP</li>
          <li>Python</li>
          <li>React</li>
          <li>Ruby</li>
        </ul>


        <h2>Link to <a href="https://hikaru-inoue-portfolio.jimdosite.com/" target=”_blank”>Portfolio Page</a></h2>
        

        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-interval="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
          </div>


          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/education-work/simulation.webp" class="img-fluid d-block w-100" alt="">
            </div>
            <div class="carousel-item">
              <img src="../../assets/education-work/simulation-2.webp" class="img-fluid d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
              <img src="../../assets/education-work/photoshop.webp" class="img-fluid d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/education-work/photoshop-2.webp" class="img-fluid d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/education-work/introductory-seminar.webp" class="img-fluid d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/education-work/oni-ramen.png" class="img-fluid d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/education-work/mnh.jpeg" class="img-fluid d-block w-100" alt="...">
            </div>


          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="center">
          <h5 id="workEducationTitle" class="text-align-center">Simulation Practice: Find Campus Map</h5>
          <p id="workEducationContent">Using GIS data and distance from the seafloor in Mathematica, we created a program to locate the Takatsuki campus of Kansai University.</p>
        </div>



        <!-- Find out more in the <a href="https://hikaru-inoue-portfolio.jimdosite.com/" target=”_blank”>Portfolio Page</a>! -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="hobbiesModal" tabindex="-1" aria-labelledby="hobbiesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hobbiesModalLabel">Hobbies</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h2>Link to <a href="https://hikaru-inoue-portfolio.jimdosite.com/" target=”_blank”>Portfolio Page</a></h2>

        <div id="carouselExampleControls2" class="carousel carousel-dark slide" data-bs-interval="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>


          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/hobbies/art.webp" class="img-fluid d-block w-100" alt="">
            </div>
            <div class="carousel-item">
              <img src="../../assets/hobbies/mario.gif" class="img-fluid d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/hobbies/art-2.webp" class="img-fluid d-block w-100" alt="...">

            </div>

            <div class="carousel-item">
              <a href="https://youtu.be/kJPKn84ztlI" target="_blank">
                <img src="../../assets/hobbies/potatoman" class="img-fluid d-block w-100" alt="...">
              </a>
            </div>


          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
      <div class="center">
        <h5 id="hobbiesTitle" class="text-align-center">Art, Origami and Youtube</h5>
        <p id="hobbiesContent"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="playGameModal" tabindex="-1" aria-labelledby="playGameModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playGameModalLabel">Play Game?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Click on the Dog that instantly transports in the room!</p>
        
        <br>
        <img class="img-fluid" src="../../assets/props/dog.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="play" class="btn btn-primary" data-bs-dismiss="modal">Play</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="modal fade" id="playGameModal" tabindex="-1" aria-labelledby="playGameModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playGameModalLabel">Congratulations!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You Won!</p>
        
        <br>
        <img class="img-fluid" src="../../assets/props/dog.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Play Again</button>
      </div>
    </div>
  </div>
</div> -->


<!-- carousal -->
<!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<!-- <button id="startGame"type="button" class="btn btn-primary game-button">Play Game!</button>
  <button id="endGame"type="button" class="btn btn-secondary game-button" style="display:none;">Close Game</button> -->
  <div id="root"></div>